.nav-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.nav-container{
    grid-column: 3/11;
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}
.nav-links-container{
    display: flex;
    justify-content: start;
}
.nav-link{
    list-style: none;
    display: grid;
    margin-left: 4rem;
}
.nav-link a{
    text-decoration: none;
    align-self: center;
    color: black;
}

.nav-link-logo{
    margin-left: 0;
    margin-right: 2rem;
    justify-self: flex-start;
    display: grid;
    justify-content: center;
    align-content: center;
}

